.main {
    
    height: 110px; 
     width: 310px;
    background-color: slategray;
    position: absolute;
    left: calc(40px);
    width: calc(100%);
    display: flex;

}
.div1{

    background-color: red;
    height: 100px;
    width: 100px;
}

.div2{

    background-color:aqua;
    height: 100px;
    width: 100px;
}

.div3{
    background-color: forestgreen;
    height: 100px;
    width: 100px;
}