.main {

    /* height: 300px; */
    /* width: 300px; */
    background-color: slategray;
    /* float: left; */
    position: absolute;
    left: calc(40px);
    width: calc(100% - 80px);
    /* text-align: left; */
    display: flex;



}
.div1{
    background-color: red;
    height: 100px;
    width: 100px;
    /* float: right; */
}

.div2{
    background-color:aqua;
    height: 100px;
    width: 100px;
    /* float: right; */
}
.div3{
    background-color: forestgreen;
    height: 100px;
    width: 100px;
    /* float: right; */
}